<h1 align="center">List of articles</h1>

<%= render 'article_list', obj_article: @articles %>

<div align="center">
    <%= will_paginate(@articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div>
