<h1>Showing selected article</h1>

<p>
    Tytuł: <%= @article.title %>
</p>
<p>
    Opis: <%= @article.description %>
</p>

<%= link_to "Edytuj ten artykuł", edit_article_path(@article) %>
<%= link_to "Powrót do listy artykułów", articles_path %>