<h1 align="center">Users list</h1>

<div align="center">
<div class="row">
<% @users.each do |usr| %>
            <div class="col-sm-4">
                <div class="card" style="width: 15rem;">
                    <div class="card-header  bg-dark mb-3"><%= link_to gravatar_for(usr, size: 150), user_path(usr) %></div>
                    <div class="card-body">
                        <%= link_to usr.username, user_path(usr) %> ( <%= pluralize(usr.articles.count, "article")  %> )
                        <% if logged_in? && current_user.admin? %>
                           <br><%= link_to "Delete User", user_path(usr), method: :delete, 
                                data: { confirm: "Are you sure you want to delete user: #{usr.username} and all his articles?" } %>
                        <% end %>
                    </div>
                </div>
            </div>    
<% end %>
</div>
</div>