 
<!DOCTYPE html>
<html>
  <head>
        <title>Rails Course - Alpha Blog - About Page</title>
        <style>
          body {background-color: black;}
          div.menu {background-color: white;}
          a {color: red; style: bold; }
          h1 {color: red;}
          p {color: white;}
</style> 
  </head>
  <body>
  <div class='header'><center><%= link_to image_tag('naglowek.jpg'), 'http://www.pro-rob.pl' %></center></div>
  <div class='menu'><%= link_to 'HOME', root_path %><a href='about.html'> About </a></div>
  <h1>This is the about page</h1>
  </body>
</html> 