 
<!DOCTYPE html>
<html>
  <head>
        <title>Rails Course - Alpha Blog - Home Page</title>
        <style>
          body {background-color: black;}
          div.menu {background-color: white;}
          a {color: red; style: bold; }
          h1 {color: red;}
          p {color: white;}
</style> 
  </head>
  <body>
  <div class='header'><center><%= link_to image_tag('naglowek.jpg'), 'http://www.pro-rob.pl' %></center></div>
  <div class='menu'><a href='home.html'> HOME </a> | <%= link_to 'About', about_path %> | <%= link_to "Artykuły", articles_path %></div>
  <h1>This is the home page</h1>
  </body>
</html> 